<div class="aside-list-content">
    <div class="aside-font">Home</div>
</div>
<div class="aside-list-content">
    <div class="aside-font">Students</div>
    <div class="aside-font">Employers</div>
    <div class="aside-font">Contacts</div>
</div>
<div class="aside-list-content">
    <div class="aside-font">Tasks</div>
    <div class="aside-font">Activity Stream</div>
</div>
<div class="aside-list-content">
    <div class="aside-font">Reporting Dashboards</div>
    <div class="aside-font">Custom Reports</div>
    <div class="aside-font">12Twenty Reports</div>
    <div class="aside-font">Standard Reports</div>
</div>
<div class="aside-list-content">
    <div class="aside-font">Research Tools</div>
</div>
<div class="aside-list-content">
    <div class="aside-font">OCI and Job Listings</div>
    <div class="aside-font">Appointments</div>
    <div class="aside-font active">Events</div>
    <div class="aside-font">Candidate Search</div>
    <div class="aside-font">Resume Books</div>
</div>
