<div class="col-lg-6">
    <a class="navbar-brand" href="#">
        <span> UCLAAnderson</span>
    </a>
</div>
<div class="col-lg-6 text-right nav-right">
    <a href="#">
        <i class="fa fa-bell-o icon"></i>
    </a>
    <a href="#">
        <i class="fa fa-bug icon"></i>
    </a>
    <a href="#">
        <i class="fa fa-bar-chart icon"></i>
    </a>
    <a href="#">
        <i class="fa fa-question-circle icon"></i>
    </a>
    <a href="#">
        <i class="fa fa-gear icon"></i>
    </a>
    <a href="">
        <i class="fa fa-bullhorn icon"></i>
    </a>
    <a href="">
        <i class="fa fa-user icon"></i>
    </a>
</div>
