.navbar.navbar-default.nav-style {
    margin: 0;
    border-bottom: 3px solid #337ab7;
}

.nav-right {
    height: 50px;
    padding: 15px 15px;
    line-height: 20px
}

i.icon{
	font-size:24px;
	margin-right:6px;
	color: black;
}